.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #fff685;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #00ff11;
}

p {
  font-size: 2rem;
  color: #000000;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #000000;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-size:x-large;
}

#btnRefresh{
  text-align: center;
  display: inline-block;
  background-color: #2fff00;
  font-size:24px

}
